.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrapper .mbr-overlay {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Mako', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #c5a18e !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c5a18e !important;
  border-color: #c5a18e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #d6bdb0 !important;
  border-color: #d6bdb0 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d6bdb0 !important;
  border-color: #d6bdb0 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #c5a18e;
  color: #c5a18e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a77256 !important;
  background-color: transparent !important;
  border-color: #a77256 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c5a18e !important;
  border-color: #c5a18e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #c5a18e !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9d6b50 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #c5a18e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c5a18e;
  border-color: #c5a18e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c5a18e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0e7e2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #c5a18e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #c5a18e;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c5a18e;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #c5a18e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c5a18e;
  border-bottom-color: #c5a18e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c5a18e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c5a18e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-vifTOXZz1Y {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-vifTOXZz1Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-vifTOXZz1Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vifTOXZz1Y .row {
  flex-direction: row-reverse;
}
.cid-vifULb8mxx {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-vifULb8mxx h6 {
  line-height: 1.2;
}
.cid-vifULb8mxx img,
.cid-vifULb8mxx .item-img {
  width: 100%;
}
.cid-vifULb8mxx .item:focus,
.cid-vifULb8mxx span:focus {
  outline: none;
}
.cid-vifULb8mxx .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vifULb8mxx .item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-vifULb8mxx .mbr-section-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.cid-vifULb8mxx .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vifULb8mxx .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-vifULb8mxx .mbr-section-title {
  color: #000000;
}
.cid-vifULb8mxx .mbr-text,
.cid-vifULb8mxx .mbr-section-btn {
  color: #000000;
}
.cid-vifULb8mxx .item-title {
  color: #000000;
  text-align: center;
}
.cid-vifULb8mxx .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-vifULb8mxx .item-text {
  color: #000000;
  text-align: center;
}
.cid-vifULb8mxx .content-head {
  max-width: 800px;
}
.cid-vhYR2r0Icf {
  display: flex;
  background-image: url("../../../assets/images/-1.webp");
}
.cid-vhYR2r0Icf .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vhYR2r0Icf {
    align-items: flex-end;
  }
  .cid-vhYR2r0Icf .row {
    justify-content: center;
  }
  .cid-vhYR2r0Icf .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vhYR2r0Icf .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vhYR2r0Icf {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vhYR2r0Icf .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vhYR2r0Icf .content-wrap {
    width: 100%;
  }
}
.cid-vhYR2r0Icf .mbr-section-title,
.cid-vhYR2r0Icf .mbr-section-subtitle {
  text-align: center;
}
.cid-vhYR2r0Icf .mbr-text,
.cid-vhYR2r0Icf .mbr-section-btn {
  text-align: center;
}
.cid-vhYR2r9ZWt {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #8b4838;
}
.cid-vhYR2r9ZWt h6 {
  line-height: 1.2;
}
.cid-vhYR2r9ZWt img,
.cid-vhYR2r9ZWt .item-img {
  width: 100%;
}
.cid-vhYR2r9ZWt .item:focus,
.cid-vhYR2r9ZWt span:focus {
  outline: none;
}
.cid-vhYR2r9ZWt .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhYR2r9ZWt .item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-vhYR2r9ZWt .mbr-section-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.cid-vhYR2r9ZWt .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vhYR2r9ZWt .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-vhYR2r9ZWt .mbr-section-title {
  color: #000000;
}
.cid-vhYR2r9ZWt .mbr-text,
.cid-vhYR2r9ZWt .mbr-section-btn {
  color: #000000;
}
.cid-vhYR2r9ZWt .item-title {
  color: #000000;
  text-align: center;
}
.cid-vhYR2r9ZWt .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-vhYR2r9ZWt .item-text {
  color: #000000;
  text-align: center;
}
.cid-vhYR2r9ZWt .content-head {
  max-width: 800px;
}
.cid-vhYR2r9ZWt .item-title,
.cid-vhYR2r9ZWt .mbr-section-btn {
  color: #fdeadb;
}
.cid-vhYR2r9ZWt .item-subtitle,
.cid-vhYR2r9ZWt .mbr-section-btn {
  color: #e8bf9e;
}
.cid-vhYR2rk8zy {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #fdeadb;
}
.cid-vhYR2rk8zy .mbr-text {
  color: #b87363;
  text-align: left;
  margin-bottom: 2em;
}
@media (max-width: 992px) {
  .cid-vhYR2rk8zy .mbr-text {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vhYR2rk8zy .mbr-text {
    margin-bottom: 1rem;
  }
}
.cid-vhYR2rk8zy .mbr-section-subtitle {
  color: #8b4838;
  text-align: center;
}
.cid-vhYR2rk8zy .mbr-section-title {
  text-align: center;
  color: #8b4838;
}
.cid-vhYR2rk8zy .content-head {
  max-width: 800px;
}
.cid-vhYR2rk8zy .mbr-card-subtitle {
  color: #b87363;
  text-align: left;
}
.cid-vhYR2rk8zy .mbr-card-title {
  text-align: left;
  color: #8b4838;
}
.cid-vhYR2rk8zy .image-wrapper img {
  width: 100%;
}
.cid-vhYR2rA2cb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e8bf9e;
}
.cid-vhYR2rA2cb .item:focus,
.cid-vhYR2rA2cb span:focus {
  outline: none;
}
.cid-vhYR2rA2cb .item {
  cursor: pointer;
}
.cid-vhYR2rA2cb .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-vhYR2rA2cb .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-vhYR2rA2cb .grid-container-1,
.cid-vhYR2rA2cb .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-vhYR2rA2cb .grid-container-1,
  .cid-vhYR2rA2cb .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-vhYR2rA2cb .mbr-section-title {
  color: #b87363;
}
.cid-vhYR2rA2cb .mbr-text,
.cid-vhYR2rA2cb .mbr-section-btn {
  color: #000000;
}
.cid-vhYR2rA2cb .content-head {
  max-width: 800px;
}
.cid-vhYR2rA2cb .container,
.cid-vhYR2rA2cb .container-fluid {
  overflow: hidden;
}
.cid-vhYR2rA2cb .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-vhYR2rA2cb .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-vhYR2rA2cb .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-vhYR2rA2cb .grid-item img {
    min-width: 35vw;
  }
}
.cid-vhYR2rA2cb .grid-container-1,
.cid-vhYR2rA2cb .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-vhYR2rA2cb .grid-container-1 {
  align-items: flex-end;
}
.cid-vhYR2rA2cb .grid-container-2 {
  align-items: flex-start;
}
.cid-vhYR2rA2cb .mbr-section-subtitle {
  color: #8b4838;
}
.cid-vhYR2rHrQ0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fdeadb;
}
.cid-vhYR2rHrQ0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhYR2rHrQ0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhYR2rHrQ0 .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  color: #645600;
  width: 40px;
  justify-content: center;
  align-items: center;
}
.cid-vhYR2rHrQ0 .card-title,
.cid-vhYR2rHrQ0 .iconfont-wrapper {
  color: #232323;
}
.cid-vhYR2rHrQ0 .card-text {
  color: #8b4838;
}
.cid-vhYR2rHrQ0 .mbr-section-title {
  color: #8b4838;
}
.cid-vhYR2rHrQ0 .mbr-section-subtitle {
  color: #232323;
}
.cid-vhYR2rHrQ0 .content-head {
  max-width: 800px;
}
.cid-vhYR2rWcVk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #e8bf9e;
}
.cid-vhYR2rWcVk .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhYR2rWcVk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-vhYR2rWcVk .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vhYR2rWcVk .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-vhYR2rWcVk .google-map {
  height: 100%;
  position: relative;
}
.cid-vhYR2rWcVk .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-vhYR2rWcVk .google-map iframe {
    min-height: 350px;
  }
}
.cid-vhYR2rWcVk .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-vhYR2rWcVk .google-map[data-state] {
  background: #e9e5dc;
}
.cid-vhYR2rWcVk .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-vhYR2rWcVk .card-wrapper {
  padding: 2.25rem;
  background: #fdeadb;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhYR2rWcVk .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vhYR2rWcVk .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-vhYR2rWcVk ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-vhYR2rWcVk .content-head {
  max-width: 800px;
}
.cid-vhYR2rWcVk .list,
.cid-vhYR2rWcVk .item-wrap {
  color: #b87363;
}
.cid-vhYR2rWcVk .mbr-section-title {
  color: #8b4838;
}
.cid-vhYR2rWcVk .mbr-section-subtitle {
  color: #b87363;
}
.cid-vhYZuLzuwS {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-vhYZuLzuwS .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhYZuLzuwS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhYZuLzuwS .copyright {
  color: #4a4444;
  text-align: left;
}
.cid-vhYZuLzuwS .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row {
    flex-direction: column-reverse !important;
  }
  .cid-vhYZuLzuwS .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-vhYZuLzuwS .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vhYZuLzuwS .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .copyright {
    text-align: center;
  }
}
.cid-vhZFb4DyFE {
  padding-top: 7rem;
  padding-bottom: 6rem;
  background-color: #f9f5f2;
}
.cid-vhZFb4DyFE .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZFb4DyFE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vhZFb4DyFE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vhZFb4DyFE .row {
  flex-direction: row-reverse;
}
.cid-vhZFb4DyFE .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-vhZFb4DyFE .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vhZFb4DyFE .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-vhZFb4DyFE .mbr-section-title {
  color: #4a4444;
}
.cid-vhZFb4DyFE .mbr-text,
.cid-vhZFb4DyFE .mbr-section-btn {
  color: #c5a18e;
}
.cid-vhZFEHlmEQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f9f5f2;
}
.cid-vhZFEHlmEQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZFEHlmEQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhZFEHlmEQ .mbr-description {
  text-align: left;
}
.cid-vhZFEHlmEQ .item-wrapper {
  background: #c5a18e;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cid-vhZFEHlmEQ .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFEHlmEQ .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-vhZFEHlmEQ .card-title,
.cid-vhZFEHlmEQ .iconfont-wrapper {
  color: #f9f5f2;
}
.cid-vhZFEHlmEQ .card-text {
  color: #000000;
}
.cid-vhZFEHlmEQ .mbr-section-title {
  color: #4a4444;
  text-align: center;
}
.cid-vhZFEHlmEQ .mbr-number {
  color: #9fe870;
}
.cid-vhZFEHlmEQ .mbr-text,
.cid-vhZFEHlmEQ .mbr-section-btn {
  text-align: center;
  color: #c5a18e;
}
.cid-vhZFEHlmEQ .card-text,
.cid-vhZFEHlmEQ .item .mbr-section-btn {
  text-align: left;
  color: #4a4444;
}
.cid-vhZFEHlmEQ .mbr-section-btn {
  margin-top: 1rem;
}
.cid-vhZFEHlmEQ .image-wrapper {
  margin-bottom: 0rem;
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-vhZFEHlmEQ .image-wrapper {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFEHlmEQ .image-wrapper {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }
}
.cid-vhZFEHlmEQ .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-vhZFEHlmEQ .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZFEHlmEQ .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-vhZFEHlmEQ .card-title {
  text-align: left;
}
.cid-vhZFEHlmEQ .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-vhZFEHlmEQ .item-content .item-footer {
  margin-top: auto;
}
.cid-vhZFOW8JB1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f5f2;
}
.cid-vhZFOW8JB1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZFOW8JB1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhZFOW8JB1 .mbr-text {
  color: #000000;
}
.cid-vhZFOW8JB1 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vhZFOW8JB1 .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-vhZFOW8JB1 .mbr-number {
  color: #9fe870;
  text-align: left;
}
.cid-vhZFOW8JB1 .mbr-section-title {
  color: #4a4444;
  text-align: justify;
}
.cid-vhZFOW8JB1 .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.25rem 2.25rem 0;
  background: #c5a18e;
}
.cid-vhZFOW8JB1 .item-content .item-footer {
  margin-top: auto;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFOW8JB1 .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-vhZFOW8JB1 .side-features {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
}
.cid-vhZFOW8JB1 .side-features .item {
  padding-left: 16px;
  padding-right: 16px;
}
.cid-vhZFOW8JB1 .item-head {
  background: #e8bf9e;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFOW8JB1 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-vhZFOW8JB1 .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #c5a18e;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFOW8JB1 .item-wrapper .item-footer {
    padding: 0 1.5rem 3rem;
  }
}
@media (min-width: 1201px) {
  .cid-vhZFOW8JB1 .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-vhZFOW8JB1 .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-vhZFOW8JB1 .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-vhZFOW8JB1 .item:focus,
.cid-vhZFOW8JB1 span:focus {
  outline: none;
}
.cid-vhZFOW8JB1 .mbr-text,
.cid-vhZFOW8JB1 .mbr-section-btn {
  text-align: left;
  color: #4a4444;
}
.cid-vhZFOW8JB1 .item-title {
  text-align: left;
  color: #4a4444;
}
.cid-vhZFOW8JB1 .item-subtitle {
  text-align: left;
  color: #b87363;
}
.cid-vhZFOW8JB1 .content-head {
  max-width: 800px;
}
.cid-vhZFOW8JB1 .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-vhZFOW8JB1 .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-vhZFOW8JB1 .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b87363;
  background-color: #b87363;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-vhZFOW8JB1 .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-vhZFOW8JB1 .mbr-text UL {
  text-align: left;
}
.cid-vhZFOW8JB1 .item-btn {
  width: -webkit-fill-available;
}
.cid-vhZFOW8JB1 .main-button {
  margin-bottom: 2rem;
  padding: 0rem 0rem 2rem;
}
@media (max-width: 767px) {
  .cid-vhZFOW8JB1 .main-button {
    margin-bottom: 2rem;
    padding: 0rem 0rem 0.5rem;
  }
}
@media (max-width: 991px) {
  .cid-vhZFOW8JB1 .main-button {
    padding: 0rem 0rem 0.5rem;
  }
}
.cid-vhZFOW8JB1 .mbr-section-subtitle,
.cid-vhZFOW8JB1 .main-button .btn {
  text-align: left;
}
.cid-vhZFOW8JB1 .mbr-section-subtitle,
.cid-vhZFOW8JB1 .main-button {
  color: #4a4444;
  text-align: left;
}
.cid-vhZFV5dkOw {
  background-color: #ffffff;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.cid-vhZFV5dkOw .carousel {
  height: 800px;
}
.cid-vhZFV5dkOw .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-vhZFV5dkOw .carousel-item,
.cid-vhZFV5dkOw .carousel-inner {
  height: 100%;
}
.cid-vhZFV5dkOw img,
.cid-vhZFV5dkOw .item-wrapper {
  border-radius: 0 !important;
}
.cid-vhZFV5dkOw .carousel-caption {
  bottom: 40px;
  z-index: 1;
}
.cid-vhZFV5dkOw .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-vhZFV5dkOw .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-vhZFV5dkOw .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-vhZFV5dkOw .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-vhZFV5dkOw .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-vhZFV5dkOw .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-vhZFV5dkOw .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-vhZFV5dkOw .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-vhZFV5dkOw .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-vhZFV5dkOw .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-vhZFV5dkOw .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-vhZFV5dkOw .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-vhZFV5dkOw .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-vhZFV5dkOw .carousel-indicators li.active,
.cid-vhZFV5dkOw .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-vhZFV5dkOw .carousel-indicators li::after,
.cid-vhZFV5dkOw .carousel-indicators li::before {
  content: none;
}
.cid-vhZFV5dkOw .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-vhZFV5dkOw .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-vhZFV5dkOw .mbr-section-subtitle,
  .cid-vhZFV5dkOw .mbr-section-text,
  .cid-vhZFV5dkOw .mbr-section-btn {
    text-align: center;
  }
}
.cid-vhZFZAL1gZ .main_wrapper {
  position: relative;
  height: 800px;
  width: 100%;
}
.cid-vhZFZAL1gZ .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cid-vhZFZAL1gZ .b_wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    flex-direction: column;
  }
}
.cid-vhZFZAL1gZ .row {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-vhZFZAL1gZ .container-fluid {
    padding: 0;
  }
}
.cid-vhZFZAL1gZ ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-vhZFZAL1gZ .item-wrapper {
  height: 100%;
  background-color: #c5a18e;
  pointer-events: fill;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZFZAL1gZ .item-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 991px) {
  .cid-vhZFZAL1gZ .item-wrapper {
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 0px !important;
  }
}
@media (max-width: 767px) {
  .cid-vhZFZAL1gZ .item-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-vhZFZAL1gZ .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-vhZFZAL1gZ .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
}
.cid-vhZFZAL1gZ .google-map [data-state-details] {
  color: #edefeb;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-vhZFZAL1gZ .google-map[data-state] {
  background: #edefeb;
}
.cid-vhZFZAL1gZ .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 991px) {
  .cid-vhZFZAL1gZ .google-map {
    position: static;
  }
}
.cid-vhZFZAL1gZ .cardTitle {
  color: #4a4444;
}
.cid-vhZFZAL1gZ .list,
.cid-vhZFZAL1gZ .item-wrap {
  color: #fdeadb;
}
.cid-vhYZuLzuwS {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-vhYZuLzuwS .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhYZuLzuwS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhYZuLzuwS .copyright {
  color: #4a4444;
  text-align: left;
}
.cid-vhYZuLzuwS .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row {
    flex-direction: column-reverse !important;
  }
  .cid-vhYZuLzuwS .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-vhYZuLzuwS .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vhYZuLzuwS .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .copyright {
    text-align: center;
  }
}
.cid-vhZSVL8ans {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .cid-vhZSVL8ans {
    align-items: flex-end;
  }
  .cid-vhZSVL8ans .row {
    justify-content: flex-start;
  }
  .cid-vhZSVL8ans .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vhZSVL8ans .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vhZSVL8ans {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vhZSVL8ans .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vhZSVL8ans .content-wrap {
    width: 100%;
  }
}
.cid-vhZSVL8ans .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZSVL8ans .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-vhZSVL8ans .mbr-section-title,
.cid-vhZSVL8ans .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vhZSVL8ans .mbr-text,
.cid-vhZSVL8ans .mbr-section-btn {
  text-align: left;
}
.cid-vhZVHSTQv4 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #fffaf1;
}
.cid-vhZVHSTQv4 img,
.cid-vhZVHSTQv4 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-vhZVHSTQv4 .item:focus,
.cid-vhZVHSTQv4 span:focus {
  outline: none;
}
.cid-vhZVHSTQv4 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZVHSTQv4 .item {
    margin-bottom: 1rem;
  }
}
.cid-vhZVHSTQv4 .item-wrapper {
  position: relative;
  background: #e9b4cb;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vhZVHSTQv4 .item-wrapper .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-vhZVHSTQv4 .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-vhZVHSTQv4 .item-wrapper .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZVHSTQv4 .item-wrapper .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZVHSTQv4 .item-wrapper .item-content {
    padding: 1.5rem;
  }
}
.cid-vhZVHSTQv4 .mbr-section-title {
  color: #232323;
}
.cid-vhZVHSTQv4 .mbr-text,
.cid-vhZVHSTQv4 .mbr-section-btn {
  text-align: center;
}
.cid-vhZVHSTQv4 .item-title {
  text-align: left;
  color: #1f6463;
}
.cid-vhZVHSTQv4 .content-head {
  max-width: 800px;
}
.cid-vhZVHSTQv4 .mbr-text,
.cid-vhZVHSTQv4 .item-wrapper .mbr-section-btn {
  text-align: left;
  color: #276f6e;
}
.cid-vhZVRiVQw3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fad878;
}
.cid-vhZVRiVQw3 .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZVRiVQw3 .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-vhZVRiVQw3 .item-head {
  background: #e5a8c3;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZVRiVQw3 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZVRiVQw3 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-vhZVRiVQw3 .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #facce0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZVRiVQw3 .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZVRiVQw3 .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-vhZVRiVQw3 .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #facce0;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-vhZVRiVQw3 .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vhZVRiVQw3 .item-wrapper .item-footer {
    padding: 0 1.5rem 3rem;
  }
}
@media (min-width: 1201px) {
  .cid-vhZVRiVQw3 .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-vhZVRiVQw3 .btn {
  width: -webkit-fill-available;
}
.cid-vhZVRiVQw3 .item:focus,
.cid-vhZVRiVQw3 span:focus {
  outline: none;
}
.cid-vhZVRiVQw3 .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-vhZVRiVQw3 .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vhZVRiVQw3 .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-vhZVRiVQw3 .mbr-section-title {
  color: #ffffff;
}
.cid-vhZVRiVQw3 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-vhZVRiVQw3 .mbr-text,
.cid-vhZVRiVQw3 .mbr-section-btn {
  text-align: left;
  color: #1f6463;
}
.cid-vhZVRiVQw3 .item-title {
  text-align: left;
  color: #276f6e;
}
.cid-vhZVRiVQw3 .item-subtitle {
  text-align: left;
  color: #569493;
}
.cid-vhZVRiVQw3 .content-head {
  max-width: 800px;
}
.cid-vhZWisNf0U {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vhZWisNf0U .item-wrapper {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZWisNf0U .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cid-vhZWisNf0U .largeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cid-vhZWisNf0U .largeImage .item {
    margin-bottom: 2rem;
  }
  .cid-vhZWisNf0U .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .cid-vhZWisNf0U .largeImage .item {
    margin-bottom: 1rem;
  }
}
.cid-vhZWisNf0U .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZWisNf0U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhZWisNf0U .mbr-description {
  text-align: left;
}
.cid-vhZWisNf0U .card-title,
.cid-vhZWisNf0U .iconfont-wrapper {
  color: #000000;
}
.cid-vhZWisNf0U .card-text {
  color: #000000;
}
.cid-vhZWisNf0U .mbr-section-title {
  color: #276f6e;
  text-align: center;
}
.cid-vhZWisNf0U .mbr-number {
  color: #9fe870;
}
.cid-vhZWisNf0U .mbr-text,
.cid-vhZWisNf0U .mbr-section-btn {
  text-align: center;
  color: #569493;
}
.cid-vhZWisNf0U .card-text,
.cid-vhZWisNf0U .item .mbr-section-btn {
  text-align: left;
}
.cid-vhZWisNf0U .smallImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-vhZWisNf0U .smallImage {
    height: 100%;
    object-fit: cover;
  }
}
.cid-vhZWisNf0U .largeImage {
  width: 100%;
  height: 632px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-vhZWisNf0U .largeImage {
    height: 100%;
    object-fit: cover;
  }
}
.cid-vhZWstZdEs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edefeb;
}
.cid-vhZWstZdEs .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhZWstZdEs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-vhZWstZdEs .card-content-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-vhZWstZdEs .card-content-text {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-vhZWstZdEs .card-content-text {
    padding: 1rem 4rem 4rem 4rem;
  }
}
.cid-vhZWstZdEs .card-wrapper {
  background: #ffe1ee;
}
.cid-vhZWstZdEs .mbr-text,
.cid-vhZWstZdEs .mbr-section-btn {
  color: #569493;
  text-align: left;
}
.cid-vhZWstZdEs .card-title,
.cid-vhZWstZdEs .card-box {
  text-align: left;
  color: #9f9ad6;
}
.cid-vhZWstZdEs .image-wrapper img {
  width: 100%;
}
.cid-vhZWBq38gT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-vhZWBq38gT .item-subtitle {
  line-height: 1.2;
  color: #569493;
  text-align: center;
}
.cid-vhZWBq38gT img,
.cid-vhZWBq38gT .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-vhZWBq38gT .item:focus,
.cid-vhZWBq38gT span:focus {
  outline: none;
}
.cid-vhZWBq38gT .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vhZWBq38gT .item {
    margin-bottom: 1rem;
  }
}
.cid-vhZWBq38gT .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vhZWBq38gT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-vhZWBq38gT .mbr-section-title {
  color: #e5a8c3;
}
.cid-vhZWBq38gT .mbr-text,
.cid-vhZWBq38gT .mbr-section-btn {
  color: #a6a99c;
  text-align: center;
}
.cid-vhZWBq38gT .item-title {
  color: #e5a8c3;
  text-align: center;
}
.cid-vhZWBq38gT .content-head {
  max-width: 800px;
}
.cid-vi04ELGQxf {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #edefeb;
}
.cid-vi04ELGQxf .mbr-fallback-image.disabled {
  display: none;
}
.cid-vi04ELGQxf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vi04ELGQxf .row {
  justify-content: center;
}
.cid-vi04ELGQxf .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vi04ELGQxf .item {
    margin-bottom: 1rem;
  }
}
.cid-vi04ELGQxf .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #facce0;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-vi04ELGQxf .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vi04ELGQxf .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-vi04ELGQxf .content-head {
  max-width: 800px;
}
.cid-vi04ELGQxf .mbr-section-title {
  color: #569493;
}
.cid-vi04ELGQxf .card-title {
  color: #e5a8c3;
}
.cid-vi04x2R8bw {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background: #ffffff;
}
.cid-vi04x2R8bw .mbr-fallback-image.disabled {
  display: none;
}
.cid-vi04x2R8bw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vi04x2R8bw .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-vi04x2R8bw .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-vi04x2R8bw .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-vi04x2R8bw .google-map[data-state] {
  background: #e9e5dc;
}
.cid-vi04x2R8bw .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-vi04x2R8bw .content-head {
  max-width: 800px;
}
.cid-vhYZuLzuwS {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-vhYZuLzuwS .mbr-fallback-image.disabled {
  display: none;
}
.cid-vhYZuLzuwS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vhYZuLzuwS .copyright {
  color: #4a4444;
  text-align: left;
}
.cid-vhYZuLzuwS .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row {
    flex-direction: column-reverse !important;
  }
  .cid-vhYZuLzuwS .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-vhYZuLzuwS .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vhYZuLzuwS .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-vhYZuLzuwS .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-vhYZuLzuwS .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-vhYZuLzuwS .copyright {
    text-align: center;
  }
}
